iKnow.xcodeproj/project.xcworkspace/xcuserdata/martijnsmit.xcuserdatad/UserInterfaceState.xcuserstate
iKnow.xcodeproj/project.xcworkspace/xcuserdata/Mark.xcuserdatad/UserInterfaceState.xcuserstate 
.DS_Store
DS_Store

